apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
  namespace: togglemaster
data:
  PORT: "8001"
  DATABASE_URL: "postgresql://<db-user>:<db-pass>@${AWS_RDS_ENDPOINT}:5432/auth_db"
  POSTGRES_USER: "<db-user>"
  POSTGRES_DB: "auth_db"
  POSTGRES_HOST: "${AWS_RDS_ENDPOINT}"
