apiVersion: v1
kind: ConfigMap
metadata:
  name: analytics-service-config
  namespace: togglemaster
data:
  PORT: "8005"
  AWS_SQS_URL: "${AWS_SQS_QUEUE_URL}"
  AWS_DYNAMODB_TABLE: "${AWS_DYNAMODB_TABLE_NAME}"
  AWS_REGION: "${AWS_REGION}"