apiVersion: v1
kind: ConfigMap
metadata:
  name: targeting-service-config
  namespace: togglemaster
data:
  PORT: "8003"
  DATABASE_URL: "postgres://<db-user>:<db-pass>@${AWS_RDS_ENDPOINT}:5432/targeting_db"
  POSTGRES_USER: "<db-user>"
  POSTGRES_DB: "targeting_db"
  POSTGRES_HOST: "${AWS_RDS_ENDPOINT}"
  AUTH_SERVICE_URL: "http://auth-service:8001"